@keyframes spin {
  100% {
    rotate: 360deg;
  }
}
@keyframes scale {
  30% {
    scale: 0.6;
  }
}
@keyframes glower {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes loadAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation_spin {
  animation: spin 15000ms linear infinite, scale 15000ms linear infinite;
}

:root {
  --greenGood: hsl(120, 64%, 33%);
  --redBad: hsl(120, 64%, 33%);
  --lightGray: hsl(0, 0%, 71%);
  --midGray: hsl(0, 0%, 65%);
  --darkGray: hsl(0, 0%, 30%);
  --black: hsl(0, 0%, 4%);
  --white: hsl(0, 0%, 94%);
  --blackOff: hsl(0, 0%, 15%);
  --whiteOff: hsl(0, 0%, 85%);
  --fs_xl: 4rem;
  --fs_lg: 3rem;
  --fs_n: 2rem;
  --fs_sm: 1.4rem;
  --fw_t: 100;
  --fw_l: 200;
  --fw_n: 400;
  --fw_b: 700;
  --t_uf: all 250ms ease;
  --t_f: all 500ms ease;
  --t_m: all 750ms ease;
  --t_s: all 1000ms ease;
  --sm: 0.25rem;
  --md: 0.5rem;
  --lg: 1rem;
  --xl: 2rem;
  --xxl: 4rem;
  --fontSize: 10px;
  --iconSize: 4rem;
  --imgSize: 30rem;
  --imgTranslate: 6rem;
  --statBarHeight: 1.5rem;
  --cardWidth: 30rem;
  --gradientDeg: 130deg;
}

*,
*::after,
*::before,
* *,
* *::after,
* *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--textColor);
  font-weight: 300;
}

:root {
  --br_b: var(--md);
  --br_f: var(--xl);
  --b_pd: var(--lg) var(--xl);
  --navHeight: calc(var(--iconSize) + 2rem);
}

:root {
  min-height: 100vh;
  font-size: var(--fontSize);
  line-break: loose;
  letter-spacing: 0.15rem;
  line-height: 1;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

.break {
  display: block;
  width: 95%;
  height: 2px;
  margin: var(lg) auto;
  background: var(--bgAccent);
  border-radius: var(--br_b);
}

BODY {
  color: var(--textColor);
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}

.page_wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.label,
p {
  color: var(--textContrastColor);
}

H1,
H2,
H3,
P,
SPAN {
  text-wrap: balance;
  margin: 0;
}

SPAN {
  display: inline-block;
}

H1,
H2,
H3,
H4 {
  text-transform: capitalize;
}

H2 {
  font-size: var(--fs_lg);
  opacity: 0.7;
}

H3,
H4,
P,
SMALL,
TD {
  font-size: var(--fs_n);
}

P {
  text-align: inherit;
  text-wrap: pretty;
}

SMALL {
  font-size: var(--fs_sm);
}
SMALL .display_data {
  font-size: inherit;
}

IMG {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

A {
  background: none;
  text-decoration: none;
  color: inherit;
}

A:visited,
A:focus,
A:active {
  color: inherit;
}

UL {
  list-style: none;
}

BUTTON {
  background: none;
  cursor: pointer;
}
BUTTON .icon_svg,
BUTTON .label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

BUTTON:disabled {
  cursor: auto;
  opacity: 0.5;
}

SVG {
  height: 100%;
  width: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

UL,
LI,
INPUT,
BUTTON {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
}

INPUT {
  border: none;
  text-align: center;
  display: block;
  width: 100%;
  padding: var(--md);
  border-radius: var(--br_f);
}

.label {
  text-transform: capitalize;
}

.icon {
  width: var(--iconSize);
  height: var(--iconSize);
  padding: var(--md);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--textColor);
}

NAV {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--navHeight);
  background: var(--bgAccent);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 1rem 1rem;
  z-index: 999;
}
NAV FORM {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

.poke_bg {
  width: 100vw;
  height: var(--imgSize);
  transition: var(--t_f);
  background: var(--bgHeader);
  position: relative;
  color: var(--white);
}
.poke_bg PICTURE {
  position: relative;
  width: inherit;
  height: inherit;
}
.poke_bg PICTURE IMG {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  position: absolute;
  top: var(--imgSize);
  left: 0;
  right: 0;
  width: 100%;
  min-height: calc(100vh - var(--imgSize) + var(--imgTranslate));
  background: var(--bgColor);
  border-radius: 4rem 4rem 0 0;
  transform: translateY(-6rem);
}
.main PICTURE {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% + 10rem));
  width: 80%;
  max-width: var(--imgSize);
}
.main PICTURE IMG {
  width: 100%;
  height: 100%;
}

.data_header {
  padding: 4rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.data_header .poke_name {
  font-size: var(--fs_xl);
}

.poke_name_bg,
.poke_control_btns {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.poke_control_btns {
  bottom: 6rem;
  width: 100%;
  max-width: calc(var(--imgSize) + 10rem);
  z-index: 2;
  justify-content: space-between;
}

.poke_name_bg {
  color: var(--whiteOff);
  width: 100%;
  top: 0;
  font-size: 10.8em;
  font-weight: 800;
  opacity: 0.8;
  text-align: center;
  text-shadow: 2px 2px 1rem var(--blackOff), -2px -2px 1rem var(--blackOff);
}

.main_content {
  --pd: var(--lg);
  padding: var(--lg) var(--pd);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
  overflow: hidden;
}

.content_window {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.content_wrapper {
  gap: var(--lg);
}
.content_wrapper .data_item {
  width: 100%;
}

.wrapper_doble {
  display: flex;
}

.wrapper_single {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.subtitle {
  width: 100%;
  opacity: 0.5;
}

.items_container {
  min-height: var(--iconSize);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.item_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: var(--iconSize);
  gap: var(--lg);
  flex-wrap: wrap;
}

.item_compous_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.item_compous_content .compous_content {
  width: 100%;
}
.item_compous_content .compous_content .data_item {
  padding: 0;
}

.stats_container {
  gap: var(--lg);
}

.stats_container {
  width: 100%;
}
.stats_container .stat_item {
  width: 100%;
}
.stats_container .stat_bar {
  display: inline-block;
  background: var(--bgColor);
  height: 2rem;
  min-width: 5rem;
  width: 100%;
  max-width: 20rem;
  position: relative;
}
.stats_container .stat_bar SPAN {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.content {
  margin: 0 auto;
}

.divider {
  width: 100%;
  height: 2px;
  background: var(--firstColor);
  margin: var(xl) 0;
}

.menu_container {
  width: 100%;
  padding-inline: var(--lg);
  display: flex;
  justify-content: flex-end;
}

.btns_container {
  display: flex;
}

.dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  padding: var(--navHeight) var(--xl);
  background: var(--bgColor);
  color: var(--textColor);
  overflow: hidden;
}

.modal {
  z-index: 10;
}

.alert {
  z-index: 20;
}

.dialog_window_btns {
  border-top: solid 2px var(--firstColor);
  border-bottom: solid 2px var(--firstColor);
}
.dialog_window_btns li {
  width: 100%;
}
.dialog_window_btns .data_btn {
  width: 100%;
  justify-content: center;
}

.modal_window {
  flex-direction: column;
  height: calc(100vh - var(--xxl) - 12rem);
  overflow-y: auto;
}

.modal_window,
.content_window {
  padding-top: var(--xl);
  gap: var(--lg);
}

.inputs_control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputs_control INPUT {
  width: 100%;
  min-height: calc(var(--iconSize) + var(xxl));
  padding: var(--b_pd);
}

.c_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--lg);
}

.options_container {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.options_container .option_search_btn:not(.config_option_btn) {
  background: var(--bgColor);
}
.options_container .options_droper {
  --extraSpace: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--bgAccent);
  bottom: 0;
  right: 0;
  border-radius: var(--lg);
  border: solid var(--bgColor) 2px;
  z-index: 2;
  overflow: hidden;
  width: -moz-max-content;
  width: max-content;
}
.options_container .options_droper:not(.config_options) {
  left: 0;
}
.options_container .options_droper LI {
  width: 100%;
}
.options_container .options_droper LI .option_btn {
  border-radius: var(--lg);
}
.options_container .options_droper LI .option_btn:not(.option_search_btn) {
  min-width: 8rem;
  width: 100%;
}
.options_container .options_droper LI .option_btn:not(.config_option_btn) {
  padding: var(--lg);
}

.poke_type {
  width: 100%;
  text-align: center;
}

.data_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--lg);
  color: var(--textColor);
  text-transform: capitalize;
  padding: var(--b_pd);
  --iconSize: 2rem;
}
.data_btn .icon {
  padding: 0;
}
.data_btn .label {
  min-height: var(--iconSize);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover,
.position_btn:hover,
.close_btn:hover,
.data_btn:hover {
  background: var(--hoverColor);
}

.btn {
  border-radius: var(--xl);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pill {
  padding: var(--md);
  border-radius: var(--sm);
  font-weight: 800;
  border: solid 1px var(--textColor);
}

.type_pill {
  border: none;
  background: var(--bgAccent);
}
.type_pill:hover {
  background: var(--pillHover);
}

.float_btn {
  position: fixed;
  background: var(--bgAccent);
  border-radius: 50%;
  z-index: 2;
}

.top_btn {
  bottom: 2rem;
  right: 2rem;
}

.target_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: var(--lg);
}
.target_container .target {
  color: var(--textColor);
  background: var(--bgAccent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block: var(--lg);
  border-radius: var(--lg);
  border: var(--firstColor) 2px solid;
}
.target_container .target h2 {
  font-size: var(--fs_sm);
}
.target_container .target .icon {
  fill: var(--textColor);
}
.target_container .target:hover {
  background: var(--hoverColor);
}

.save_btn,
.poke_sound_btn {
  top: 0;
}

.save_btn {
  right: 2rem;
}

.poke_sound_btn {
  left: 2rem;
}

.position_btn {
  width: 4rem;
  height: 10rem;
  background: var(--bgAccent);
  border: solid 2px var(--firstColor);
}
.position_btn .icon_svg {
  fill: var(--textColor);
}

[position=next] {
  border-radius: 0 3rem 3rem 0;
}

[position=previous] {
  border-radius: 3rem 0 0 3rem;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 20rem;
  width: 100%;
  color: white;
}
.loader .load {
  display: inline-block;
  border-radius: 50%;
  border-bottom: dotted 0.5rem #ccc;
  width: 5rem;
  height: 5rem;
  animation: loadAnimation 2s ease 0s infinite forwards;
}
.loader .loading_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.justify_between {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--xl);
}

.flex_end {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poke_flavor {
  width: 100%;
  height: 100%;
  min-height: 8rem;
  background: var(--bgColor);
  margin-top: var(--md);
  font-size: var(--fs_lg);
  padding: var(--lg);
  border-radius: var(--md);
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--cardWidth), 1fr));
  -moz-column-gap: var(--lg);
       column-gap: var(--lg);
  padding: var(--lg) 0;
  justify-content: center;
}
.cards_container .card_item {
  --cardSize: 10rem;
  width: 100%;
  border-radius: var(--lg);
  height: calc(var(--cardSize) + 2rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}
.cards_container .card_item .card {
  height: var(--cardSize);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border-radius: inherit;
}
.cards_container .card_item .card .card_selector {
  position: absolute;
  top: var(--lg);
  right: var(--lg);
  z-index: 2;
}
.cards_container .card_item .card .card_content {
  position: relative;
  background: var(--bgAccent);
  border-radius: inherit;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: var(--lg) var(--xl);
}
.cards_container .card_item .card .card_content IMG {
  position: absolute;
  width: calc(var(--cardSize) - var(--md));
  height: calc(var(--cardSize) - var(--md));
  bottom: -2rem;
  right: -2rem;
  left: inherit;
  top: inherit;
  rotate: -10deg;
  transform: translate(0, 0);
  z-index: 1;
}
.cards_container .card_item .card .card_content .card_id {
  position: absolute;
  top: var(--lg);
  left: var(--lg);
}
.cards_container .card_item .card .card_content .card_text {
  font-size: var(--fs_n);
  font-weight: 600;
}
.cards_container .card_item .card .card_content:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: var(--t_m);
}
.cards_container .card_item .card * {
  transition: var(--t_m);
}
.cards_container .card_item .card:hover .card_selector {
  top: 0;
}
.cards_container .card_item .card:hover .card_content {
  height: calc(var(--cardSize) - 2rem);
}
.cards_container .card_item .card:hover .card_content:after {
  box-shadow: inset 10px 0 2rem var(--cardHover1), inset -10px 0 2rem var(--cardHover2);
}
.cards_container .card_item .card:hover .card_content .card_id {
  top: -2rem;
}
.cards_container .card_item .card:hover .card_content IMG {
  left: inherit;
  top: inherit;
  transform: translate(-2rem, -2rem);
  rotate: 0deg;
  width: calc(var(--cardSize) + 1.5rem);
  height: calc(var(--cardSize) + 1.5rem);
}

.small_cards_container {
  --cardWidth: 20rem;
}

.menu_btn {
  border-radius: var(--md);
}

.data_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  gap: var(--md);
  background: var(--bgAccent);
  padding: var(--lg);
}
.data_item h2 {
  text-align: center;
  width: 100%;
}
.data_item .inner_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.data_item .inner_item SPAN {
  font-size: var(--fs_n);
}

.poke_icon .cls-1 {
  fill: rgb(244, 243, 243);
}
.poke_icon .cls-2 {
  fill: rgb(237, 28, 36);
}
.poke_icon .cls-3 {
  fill: rgb(20, 20, 20);
}

.accent_color {
  color: var(--firstColor);
  fill: var(--firstColor);
}
.accent_color SPAN {
  color: inherit;
  fill: inherit;
}

.full {
  width: 100%;
}

[color-scheme=dark] {
  --bgHeader: linear-gradient(var(--gradientDeg), tomato, orange, red);
  --firstColor: hsl(360, 85%, 50%);
  --hoverColor: hsl(360, 65%, 30%);
  --textColor: rgb(225, 225, 225);
  --bgColor: rgb(25, 25, 25);
  --bgAccent: rgb(15, 15, 15);
  --cardHover1: red;
  --cardHover2: white;
  color-scheme: dark;
}

[color-scheme=water] {
  --bgHeader: linear-gradient(var(--gradientDeg), hsl(151, 82%, 56%) 0%, hsl(193, 65%, 50%) 37%, hsl(208, 62%, 45%) 65%, hsl(246, 48%, 39%) 100%);
  --firstColor: rgb(137, 247, 254);
  --textColor: rgb(208, 226, 252);
  --bgColor: skyblue;
  --bgAccent: rgba(15, 100, 210, 0.7);
  --cardHover1: blue;
  --cardHover2: yellow;
  color-scheme: light;
}

[color-scheme=fire] {
  --bgHeader: linear-gradient(var(--gradientDeg), #f9d423 0%, #ff4e50 100%);
  --firstColor: hsl(360, 80%, 45%);
  --hoverColor: hsl(360, 80%, 25%);
  --textColor: var(--whiteOff);
  --bgColor: rgba(126, 11, 13);
  --bgAccent: rgb(202, 21, 24);
}

[color-scheme=grass] {
  --bgHeader: linear-gradient(var(--gradientDeg), lightgreen, darkgreen, black);
  --textColor: rgb(225, 225, 225);
  --firstColor: hsl(125, 90%, 70%);
  --hoverColor: hsl(125, 90%, 50%);
  --bgColor: hsl(120, 94%, 13%);
  --bgAccent: hsl(115, 90%, 30%);
  --pillHover: hsl(115, 90%, 10%);
}

[color-scheme=normal] {
  --bgHeader: linear-gradient(var(--gradientDeg), lightgray, black);
  --firstColor: rgb(126, 94, 6);
  --textColor: rgb(40, 40, 40);
  --bgColor: rgb(148, 148, 148);
  --bgAccent: rgb(221, 221, 163);
}

[color-scheme=ghost] {
  --bgHeader: linear-gradient(var(--gradientDeg), darkgray, darkslateblue, black);
  --firstColor: rgb(170, 40, 250);
  --textColor: rgb(225, 225, 225);
  --bgColor: rgb(50, 43, 92);
  --bgAccent: rgba(14, 4, 32);
}

[color-scheme=psychic] {
  --bgHeader: linear-gradient(var(--gradientDeg), yellow, darkslateblue);
  --firstColor: rgb(105, 237, 28);
  --textColor: rgb(225, 225, 225);
  --bgColor: darkslateblue;
  --bgAccent: rgb(56, 0, 88);
}

[color-scheme=electric] {
  --bgHeader: linear-gradient(var(--gradientDeg), yellow, orange, black);
  --textColor: rgb(24, 24, 24);
  --firstColor: rgb(237, 28, 36);
  --bgColor: rgb(197, 194, 3);
  --bgAccent: rgb(165, 162, 4);
}

[color-scheme=flying] {
  --bgHeader: linear-gradient(var(--gradientDeg), #c4dcfd, #66a6ff);
  --firstColor: rgb(99, 156, 202);
  --textColor: rgb(20, 20, 20);
  --bgColor: skyblue;
  --bgAccent: rgb(200, 200, 200, 0.7);
}

[color-scheme=dragon] {
  --bgHeader: linear-gradient(var(--gradientDeg), black, crimson, yellow);
  --textColor: rgb(197, 197, 197);
  --firstColor: #ca1518;
  --bgColor: #720305;
  --bgAccent: black;
}

[color-scheme=ice] {
  --bgHeader: linear-gradient(var(--gradientDeg), hsl(197, 71%, 73%), hsl(195, 100%, 50%), black);
  --textColor: rgb(20, 20, 20);
  --firstColor: darkslateblue;
  --bgColor: hsl(195, 100%, 50%);
  --bgAccent: hsl(195, 100%, 70%);
}

[color-scheme=poison] {
  --bgHeader: linear-gradient(var(--gradientDeg), #cc208e 0%, #6713d2 100%);
  --textColor: rgb(243, 243, 243);
  --firstColor: rgb(84, 250, 84);
  --bgColor: hsl(266, 77%, 29%);
  --bgAccent: hsl(286, 83%, 30%);
}

[color-scheme=fighting] {
  --bgHeader: linear-gradient(var(--gradientDeg), black, crimson);
  --textColor: hsl(0, 0%, 88%);
  --firstColor: hsl(0, 0%, 31%);
  --bgColor: hsl(0, 0%, 10%);
  --bgAccent: rgb(15, 15, 15);
}

[color-scheme=rock] {
  --bgHeader: linear-gradient(var(--gradientDeg), saddlebrown, black);
  --textColor: rgb(225, 225, 225);
  --firstColor: rgb(212, 132, 13);
  --bgColor: rgb(56, 37, 1);
  --bgAccent: rgba(26, 17, 0);
}

[color-scheme=ground] {
  --bgHeader: linear-gradient(var(--gradientDeg), saddlebrown, black);
  --textColor: rgb(225, 225, 225);
  --firstColor: rgb(212, 132, 13);
  --bgColor: rgb(56, 37, 1);
  --bgAccent: rgba(26, 17, 0);
}

[color-scheme=steel] {
  --bgHeader: linear-gradient(var(--gradientDeg), var(--lightGray), var(--darkGray), var(--lightGray), var(--midGray), var(--lightGray), var(--darkGray), var(--midGray));
  --textColor: rgb(225, 225, 225);
  --firstColor: rgb(60, 60, 60);
  --bgColor: black;
  --bgAccent: rgb(60, 60, 60);
}

[color-scheme=bug] {
  --bgHeader: linear-gradient(var(--gradientDeg), yellow, hsl(130, 70%, 15%), black);
  --textColor: rgb(51, 51, 51);
  --firstColor: rgb(237, 139, 28);
  --bgColor: rgb(17, 196, 76);
  --bgAccent: rgb(153, 214, 38);
}

[color-scheme=fairy] {
  --bgHeader: linear-gradient(130deg, pink, darkslateblue, black);
  --firstColor: rgb(173, 233, 252);
  --textColor: rgb(255, 255, 255);
  --bgColor: rgb(172, 166, 255);
  --bgAccent: rgb(15, 15, 15);
}

[modal-active],
[options-active] {
  transition: var(--t_f);
}

[modal-active] {
  transform: translateY(0);
  opacity: 1;
}

[modal-active=false] {
  transform: translateY(100%);
  opacity: 0;
}

[options-active] {
  transform: translateY(calc(100% + var(--extraSpace)));
  opacity: 1;
}

[options-active=false] {
  transform: translateY(100%);
  opacity: 0;
}

[hidden] {
  display: none;
  visibility: hidden;
}

[hidden=false] {
  display: flex;
  visibility: visible;
}

[show] {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

[show=false] {
  opacity: 0;
}

[btn-active] {
  background: var(--firstColor);
}

[btn-active=false] {
  background: inherit;
}

@media screen and (min-width: 560px) {
  :root {
    --imgSize: 35rem;
  }
  /*    .data_row,
  .data_btn {
      [selection="label"]:not(.label_pill) {
          display: flex;
      }
  } */
}
@media screen and (max-width: 1200px) {
  :root {
    --imgSize: 40rem;
  }
  .responsive_container {
    flex-wrap: wrap;
  }
}